* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
  color: white;
}

input::placeholder {
  color: rgb(154, 161, 178);
}

::-webkit-scrollbar {
  display: none;
}
