* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
  color: white;
  background-color: rgb(29, 35, 51);
}

input::placeholder {
  color: rgb(154, 161, 178);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.lucide-loader-circle {
  animation: spin 0.5s linear infinite;
}
